<% layout('layouts/boilerplate') %>
<h1 ><%= post.title %></h1>
<h2><%= post.author.username %></h2>
<h3><%= post.date %></h3>

<ul>
<% for(let tag of post.tags) {%>
<div>
    <li style="list-style-type: none;">
        <form action="/tag/<%=tag.tag%>" method="get">
            <button><%= tag.tag %></button>
        </form>
    </li>
</div>
<% } %>

</ul>

<p ><%=post.content %></p>

 <p><%= post.likeCount %> likes </p>

<% if (currentUser && post.author.equals(currentUser)) { %>
 

<div class="form">
    <div class="first" >
    <form action="/post/<%=post._id%>?_method=DELETE" method="post">
    <button class="btn delete">Delete post  🗑️</button>
    </form>
    </div>
    <div class="second" >
    
    <button onclick="window.location.href='/post/<%=post._id%>/edit'" class="btn Update">Edit post ✍️</button> 
    </div>
</div>   
<% } %> 
<% if (currentUser && isliked) { %>
 
    <div>
        <form action="/post/<%=post._id%>/like/remove" method="get">
            <button>unlike</button>
        </form>
    </div>
<% } else { %>
    <div>
        
        <form action="/post/<%=post._id%>/like/add" method="get">
            <button>like</button>
        </form>
    </div>
<% } %>
<% if (currentUser && isbookmarked) { %>
 
    <div>
        <form action="/post/<%=post._id%>/bookmark/remove" method="get">
            <button>unbookmark</button>
        </form>
    </div>
<% } else { %>
    <div>
        
        <form action="/post/<%=post._id%>/bookmark/add" method="get">
            <button>bookmark</button>
        </form>
    </div>
<% } %>



<div class="col-6">
    <% if (currentUser) { %>
        <h2>Leave a Comment</h2>
        <form action="/post/<%=post._id%>/comment" method="POST" class="mb-3 validated-form" >
            
            <div class="mb-3">
                <label class="form-label" for="body">Comment</label>
                <textarea class="form-control" name="comment[content]" id="body" cols="30" rows="3" required></textarea>
            </div>
            
            <button class="btn btn-success">Submit</button>
        </form>
   <% } %>

    <% if (post.commentCount) { %>
        <h2>Comments(<%= post.commentCount %>)</h2>
    <% } else if(currentUser) { %>
        <h3>No Comments yet,Be the first one to post a comment</h3>
    <% } %>
    
    <% for(let comment of comments) { %>
        <div class="card mb-3 ">
            <div class="card-body">
                <p class="card-text"> <%= comment.body %></p>
                <h5 class="card-title"> <%= comment.author.username %></h5>
                <h6><%= comment.date %></h6>
                <% if (currentUser && comment.author._id.equals(currentUser._id)) { %>           
                <form action="/post/<%=post._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
    <% } %>
</div>



