<% layout('layouts/boilerplate') %>

<h1><%= tag %></h1>


<% tags.forEach(tag => { %>
        <h2><%= tag.post.title %></h1>
            <div><a href="/user/<%= tag.post.author._id  %>"><img src="<%=tag.post.author.avatar.thumbnail %>" alt="author thumbnail"></a></div>

        <h3><a href="/user/<%=tag.post.author._id%>"><%= tag.post.author.username %></a>,<%= tag.post.date %></h3>  
        <h4><%= tag.post.likeCount %> likes</h4>
        <h4><%= tag.post.readCount %> reads</h4>
        <h4><%= tag.post.commentCount %> comments</h4>
        <p><%= tag.post.content.substring(0, 100)+"..." %><a href="/post/<%= tag.post._id %>"><button>Read more</button></a></p>
        <!-- truncate upto 100 characters -->
  
<% }) %>