<% layout('layouts/boilerplate') %>

<div class="searchoptions">

  <div class="searchactive"  id="tags">
      <a href="/search/tags?search=<%= tag %>"><button > <i class="ri-hashtag"></i><%= tag %></button></a>
  </div>
  
</div>
<div class="homepostcontainer">
    <% tags.forEach(tag => { %>
        <div class="postcard">
            <div class="postauthor">
              <div class="postauthorimg">
                <a href="/user/<%= tag.post.author._id %>"><img src="<%=tag.post.author.avatar.thumbnail %>" alt="author thumbnail"></a>
              </div>
              <div class="postauthornamejoint">
                <a href="/user/<%= tag.post.author._id %>">
                  <p class="authorname"><%= tag.post.author.username %></p>
                </a>  
                <p class="date"><%= tag.post.date %></p>
              </div>  
            </div>
            <a href="/post/<%= tag.post._id %>">
              <div class="postdetails">
      
                <div class="titledetailsjoint">
                  <h3><%= tag.post.title %></h3>
                  <p><%= tag.post.content.substring(0, 100)+"..." %></p>
                </div>
                <div class="postthumbnail">
                  <img src="<%= tag.post.image.thumbnail %>"  alt="cover image of post">
                </div>
              </div>
            </a>  
            <div class="postoptions">
              <div class="postimpressions">
                <p> <%= tag.post.likeCount %> Like</p>
                <p><%= tag.post.commentCount %> Comment</p>
                <p> <%= tag.post.readCount %> View </p>
              </div>
              <div class="cardbkmrk">
                 
              </div>
            </div>
          </div>
       
        
    <%})%>
  </div>  

   
