<%posts.forEach((post)=>{%>
    <h1><%= post.title %></h1>
    <h3><%= post.author.username %>,<%= post.date %></h3>    
    <p><%= post.content.substring(0, 100)+"..." %><a href="/post/<%= post._id %>"><button>Read more</button></a></p>
    <!-- truncate upto 100 characters -->
<%})%>