
<% layout('layouts/boilerplate') %>

<% if (currentUser) { %>
 <div class="homesuggestioncont">
    <form class="<%= following_page?" ":"homeallsuggestion" %>" action="/" method="get"><button><i class="ri-magic-line"></i> Personalized</button></form>
    <form class="<%= following_page?"followingfollowersuggestion":" " %>"  action="/following" method="get"><button><i class="ri-group-line"></i> Following</button></form>
 </div>
<% } %>
<div class="homepostcontainer">
    <%posts.forEach((post)=>{%>
        <div class="postcard">
            <div class="postauthor">
              <div class="postauthorimg">
                <a href="/user/<%=post.author._id%>"><img src="<%= post.author.avatar.thumbnail %>" alt="author thumbnail"></a>
              </div>
              <div class="postauthornamejoint">
                <a href="/user/<%=post.author._id%>">
                  <p class="authorname"><%= post.author.username %> </p>
                </a>  
                <p class="date"><%= post.date %></p>
              </div>  
            </div>
            <a href="/post/<%= post._id %>">
              <div class="postdetails">
      
                <div class="titledetailsjoint">
                  <h3><%= post.title %></h3>
                  <p><%= post.content.substring(0, 200)+"..." %></p>
                </div>
                <div class="postthumbnail">
                  <img src="<%= post.image.url %>"  alt="cover image of post">
                </div>
              </div>
            </a>  
            <div class="postoptions">
              <div class="postimpressions">
                <p> <%= post.likeCount %> Like</p>
                <p><%= post.commentCount %> Comment</p>
                <p> <%= post.readCount %> View </p>
              </div>
              <div class="cardbkmrk">
                 
              </div>
            </div>
          </div>
       
        <!-- truncate upto 100 characters -->
    <%})%>
</div>  
