
<% layout('layouts/boilerplate') %>
<h1>HOME</h1>
<p><%= home_content %></p>

<h2> Blogs </h2>
<% if (currentUser) { %>
 <div>
    <form action="/" method="get"><button>All</button></form>
    <form action="/following" method="get"><button>Following</button></form>
 </div>
<% } %>
<div class="homepostcontainer">
    <%posts.forEach((post)=>{%>
        <div class="postcard">
            <div class="postauthor">
              <div class="postauthorimg">
                <a href="/user/<%=post.author._id%>"><img src="<%= post.author.avatar.thumbnail %>" alt="author thumbnail"></a>
              </div>
              <div class="postauthornamejoint">
                <a href="/user/<%=post.author._id%>">
                  <p class="authorname"><%= post.author.username %></p>
                </a>  
                <p class="date"><%= post.date %></p>
              </div>  
            </div>
            <a href="/post/<%= post._id %>">
              <div class="postdetails">
      
                <div class="titledetailsjoint">
                  <h3><%= post.title %></h3>
                  <p><%= post.content.substring(0, 100)+"..." %></p>
                </div>
                <div class="postthumbnail">
                  <img src="<%= post.image.thumbnail %>"  alt="cover image of post">
                </div>
              </div>
            </a>  
            <div class="postoptions">
              <div class="postimpressions">
                <p> <i class="ri-chat-poll-line"></i> <%= post.commentCount %></p>
                <p> <i class="ri-heart-2-line"></i> <%= post.likeCount %></p>
                <p> <i class="ri-eye-line"></i> <%= post.readCount %> </p>
              </div>
              <div class="cardbkmrk">
                 
              </div>
            </div>
          </div>
       
        <!-- truncate upto 100 characters -->
    <%})%>
</div>  
