
<% layout('layouts/boilerplate') %>
<h1>HOME</h1>
<p><%= home_content %></p>

<h2> Blogs </h2>
<%posts.forEach((post)=>{%>
    <div>
        <div>
            <h1><%= post.title %></h1>
            <h3><%= post.author.username %>,<%= post.date %></h3>  
        </div>
        <div>
           
            <img src="<%= post.image.thumbnail %>" alt="preview of cover image" title="<%= post.image.home %>">
        </div>
        <div>
            <h4><%= post.likeCount %> likes</h4>
            <h4><%= post.readCount %> reads</h4>
            <h4><%= post.commentCount %> comments</h4>
        </div>
        <div>
            <p><%= post.content.substring(0, 100)+"..." %><a href="/post/<%= post._id %>"><button>Read more</button></a></p>
        </div>
    </div>
    <!-- truncate upto 100 characters -->
<%})%>
<div>
    <form action="/post/new" method="get">
        <button class="btn" >✒️ Compose </button>
    </form>


</div>
