<%- include('partials/header'); -%>
<h1>COMPOSE</h1>
<form action="/updateindb/<%=id  %>" method="post">
<div class="title">
    <label for="title">title</label>
    <br />
    <input type="text" name="newTitle" id="title" value="<%= pre_title %>" />
</div>
<div class="post">
    <label for="post"> post</label>
    <br />
    <textarea name="newContent" id="post"  cols="30" rows="10"><%= pre_content %></textarea>
</div>


<button class="btn" type="submit">Update</button>
</form>
<%- include('partials/footer'); -%>
