<% layout('layouts/boilerplate') %>
<div>
    <div id="all"><a href="/search/all/?search=<%= whattosearch %>">All</a></div>
    <div id="posts"><a href="/search/posts?search=<%= whattosearch %>">posts</a></div>
    <div id="tags"><a href="/search/tags?search=<%= whattosearch %>">tags</a></div>
    <div id="accounts"><a href="/search/accounts?search=<%= whattosearch %>">accounts</a></div>
</div>
<% if (searchaccounts && searchaccounts.length) { %>
 

<% searchaccounts.forEach(account => { %>
    <div  id="<%= account._id %>" >
        <h2><a href="/user/<%= account._id %>"> <%= account.username %></a></h2>
        <% if (account.tagline) { %>
            <h3><%= account.tagline %></h3>
            
            <% } %>
    </div>
<% }) %>
<% } else { %>
<h2>no User found</h2>
    
<% } %>
