<% layout('layouts/boilerplate') %>
<div class="searchoptions">
    <div class="<%= searchtype==='all'?"searchactive":" " %>" id="all">
        <a href="/search/all/?search=<%= whattosearch %>"><button><i class="ri-drag-move-line"></i> All</button></a>
    </div>
    <div class="<%= searchtype==='post'?"searchactive":" " %>" id="posts">
  
        <a href="/search/posts?search=<%= whattosearch %>"><button><i class="ri-book-read-line"></i> Articles</button></a>
    </div>
    <div class="<%= searchtype==='tag'?"searchactive":" " %>" id="tags">
        <a href="/search/tags?search=<%= whattosearch %>"><button> <i class="ri-hashtag"></i> Tags</button></a>
    </div>
    <div class="<%= searchtype==='account'?"searchactive":" " %>" id="accounts">
  
        <a href="/search/accounts?search=<%= whattosearch %>"><button> <i class="ri-account-circle-line"></i> Accounts</button></a>
    </div>
  </div>
<% if (searchaccounts && searchaccounts.length) { %>
 
    <div class="homepostcontainer">
        <div class="searchtitle">
            <p>Search results for "<%= whattosearch %>"</p>
        </div>
        <% searchaccounts.forEach(account => { %>
            <div id="<%= account._id %>" class="profilecardsearch">
                <div class="avatarimg">
                <a href="/user/<%= account._id %>"> <img src="<%=account.avatar.thumbnail %>" alt="author thumbnail">
                    </a>
                </div>
                <div class="avatartitle">
                    <a href="/user/<%= account._id %>"><h4><%= account.username %></h4></a>
                </div>
            </div>
           
        <% }) %>
    </div>  


<% } else { %>
<h2 class="userprofilesearchpage">No User Found</h2>
    
<% } %>
