<% layout('layouts/boilerplate') %>
<div>
    <div id="all"><a href="/search/all/?search=<%= whattosearch %>">All</a></div>
    <div id="posts"><a href="/search/posts?search=<%= whattosearch %>">posts</a></div>
    <div id="tags"><a href="/search/tags?search=<%= whattosearch %>">tags</a></div>
    <div id="accounts"><a href="/search/accounts?search=<%= whattosearch %>">accounts</a></div>
</div>
<% if (searchaccounts && searchaccounts.length) { %>
 
    <div class="homepostcontainer">
        <% searchaccounts.forEach(account => { %>
            <div id="<%= account._id %>" class="profilecardsearch">
                <div class="avatarimg">
                <a href="/user/<%= account._id %>"> <img src="<%=account.avatar.thumbnail %>" alt="author thumbnail">
                    </a>
                </div>
                <div class="avatartitle">
                    <a href="/user/<%= account._id %>"><h4><%= account.username %></h4></a>
                </div>
            </div>
           
        <% }) %>
    </div>  


<% } else { %>
<h2 class="userprofilesearchpage">No User found</h2>
    
<% } %>
