<% layout('layouts/boilerplate') %>
<div>
    <div id="all"><a href="/search/all/?search=<%= whattosearch %>">All</a></div>
    <div id="posts"><a href="/search/posts?search=<%= whattosearch %>">posts</a></div>
    <div id="tags"><a href="/search/tags?search=<%= whattosearch %>">tags</a></div>
    <div id="accounts"><a href="/search/accounts?search=<%= whattosearch %>">accounts</a></div>
</div>

<div class="homepostcontainer">
<% if ( searchresults &&  searchresults.length) { %>
 

<%searchresults.forEach((element)=>{%>
    <% if (element.title) { %>
        <div id="<%= element.title %>" class="postcard">
            <div class="postauthor">
              <div class="postauthorimg">
                <a href="/user/<%= element.author._id %>"><img src="<%=element.author.avatar.thumbnail %>" alt="author thumbnail"></a>
              </div>
              <div class="postauthornamejoint">
                <a href="/user/<%= element.author._id %>">
                  <p class="authorname"><%= element.author.username %></p>
                </a>  
                <p class="date"><%= element.date %></p>
              </div>  
            </div>
            <a href="">
              <div class="postdetails">
      
                <div class="titledetailsjoint">
                  <h3><%= element.title %></h3>
                  <p><%= element.content.substring(0, 100)+"..." %></p>
                </div>
                <div class="postthumbnail">
                  <img src="<%= element.image.thumbnail %>"  alt="cover image of post">
                </div>
              </div>
            </a>  
            <div class="postoptions">
              <div class="postimpressions">
                <p> <i class="ri-chat-poll-line"></i> <%= element.commentCount %></p>
                <p> <i class="ri-heart-2-line"></i> <%= element.likeCount %></p>
                <p> <i class="ri-eye-line"></i> <%= element.readCount %> </p>
              </div>
              <div class="cardbkmrk">
                 
              </div>
            </div>
          </div>
            

    <% }else if (element.username) { %>
        <div id="<%= element._id %>" class="profilecardsearch">
            <div class="avatarimg">
            <a href="/user/<%= element._id %>"> <img src="<%=element.avatar.thumbnail %>" alt="author thumbnail">
                </a>
            </div>
            <div class="avatartitle">
                <a href="/user/<%= element._id %>"><h4><%= element.username %></h4></a>
            </div>
        </div>
        
    <% } else { %>

        <div  id="<%=element%>" class="tagcardsearch">
            <a href="/tag/<%=element%>"><p><i class="ri-hashtag"></i>  <%=element%></p></a>
        </div>
       
    <% } %>
   
    
<%})%>
<% }  else {%>
<h2 class="allsearchpage">No results found</h2>
<% } %>

</div>