<% layout('layouts/boilerplate') %>
<div class="searchoptions">
  <div class="<%= searchtype==='all'?"searchactive":" " %>" id="all">
      <a href="/search/all/?search=<%= whattosearch %>"><button><i class="ri-drag-move-line"></i> All</button></a>
  </div>
  <div class="<%= searchtype==='post'?"searchactive":" " %>" id="posts">

      <a href="/search/posts?search=<%= whattosearch %>"><button><i class="ri-book-read-line"></i> Articles</button></a>
  </div>
  <div class="<%= searchtype==='tag'?"searchactive":" " %>" id="tags">
      <a href="/search/tags?search=<%= whattosearch %>"><button> <i class="ri-hashtag"></i> Tags</button></a>
  </div>
  <div class="<%= searchtype==='account'?"searchactive":" " %>" id="accounts">

      <a href="/search/accounts?search=<%= whattosearch %>"><button> <i class="ri-account-circle-line"></i> Accounts</button></a>
  </div>
</div>

<% if ( searchresults &&  searchresults.length) { %>
<div class="homepostcontainer">
  <div class="searchtitle">
    <p>Search results for "<%= whattosearch %>"</p>
  </div>

<%searchresults.forEach((element)=>{%>
    <% if ( element && !(element.title) && !(element.username)) { %>
      <a href="/tag/<%=element%>">
        <div  id="<%=element%>" class="tagcardsearch">
          <p><i class="ri-hashtag"></i>  <%=element%></p>
        </div>
      </a>

    <% }else if (element.username) { %>
      <a href="/user/<%= element._id %>">
        <div id="<%= element._id %>" class="profilecardsearch">
            <div class="avatarimg">
            <img src="<%=element.avatar.thumbnail %>" alt="author thumbnail">
            </div>
            <div class="avatartitle">
                <h4><%= element.username %></h4>
            </div>
        </div>
        </a>
        
    <% } else if(element.title) { %>
      <div id="<%= element.title %>" class="postcard">
        <div class="postauthor">
          <div class="postauthorimg">
            <a href="/user/<%= element.author._id %>"><img src="<%=element.author.avatar.thumbnail %>" alt="author thumbnail"></a>
          </div>
          <div class="postauthornamejoint">
            <a href="/user/<%= element.author._id %>">
              <p class="authorname"><%= element.author.username %></p>
            </a>  
            <p class="date"><%= element.date %></p>
          </div>  
        </div>
        <a href="/post/<%= element._id %>">
          <div class="postdetails">
  
            <div class="titledetailsjoint">
              <h3><%= element.title %></h3>
              <p><%= element.content.substring(0, 200)+"..." %></p>
            </div>
            <div class="postthumbnail">
              <img src="<%= element.image.url %>"  alt="cover image of post">
            </div>
          </div>
        </a>  
        <div class="postoptions">
          <div class="postimpressions">
            <p> <%= element.likeCount %> Like</p>
            <p><%= element.commentCount %> Comment</p>
            <p> <%= element.readCount %> View </p>
          </div>
          <div class="cardbkmrk">
             
          </div>
        </div>
      </div>
      

        
       
    <% } %>
   
    
<%})%>
</div>
<% }  else {%>
<h2 class="allsearchpage">No Results Found</h2>
<% } %>
