<% layout('layouts/boilerplate') %>
<div class="searchoptions">
    <div class="<%= searchtype==='all'?"searchactive":" " %>" id="all">
        <a href="/search/all/?search=<%= whattosearch %>"><button><i class="ri-drag-move-line"></i> All</button></a>
    </div>
    <div class="<%= searchtype==='post'?"searchactive":" " %>" id="posts">
  
        <a href="/search/posts?search=<%= whattosearch %>"><button><i class="ri-book-read-line"></i> Articles</button></a>
    </div>
    <div class="<%= searchtype==='tag'?"searchactive":" " %>" id="tags">
        <a href="/search/tags?search=<%= whattosearch %>"><button> <i class="ri-hashtag"></i> Tags</button></a>
    </div>
    <div class="<%= searchtype==='account'?"searchactive":" " %>" id="accounts">
  
        <a href="/search/accounts?search=<%= whattosearch %>"><button> <i class="ri-account-circle-line"></i> Accounts</button></a>
    </div>
  </div>
<% if (searchtags && searchtags.length) { %>
 
    <div class="homepostcontainer">
        <div class="searchtitle">
            <p>Search results for "<%= whattosearch %>"</p>
        </div>
        <% searchtags.forEach(tags => { %>
            <div  id="<%=tags%>" class="tagcardsearch">
                <a href="/tag/<%=tags%>"><p><i class="ri-hashtag"></i>  <%=tags%></p></a>
            </div>
           
        
        <% }) %>
    </div>


<% } else { %>
    <h2 class="tagsearchpage">No Tags Found</h2>

<% } %>