<% layout('layouts/boilerplate') %>
<div>
    <div id="all"><a href="/search/all/?search=<%= whattosearch %>">All</a></div>
    <div id="posts"><a href="/search/posts?search=<%= whattosearch %>">posts</a></div>
    <div id="tags"><a href="/search/tags?search=<%= whattosearch %>">tags</a></div>
    <div id="accounts"><a href="/search/accounts?search=<%= whattosearch %>">accounts</a></div>
</div>
<% if (searchtags && searchtags.length) { %>
 
    <div class="homepostcontainer">
        <% searchtags.forEach(tags => { %>
            <div  id="<%=tags%>" class="tagcardsearch">
                <a href="/tag/<%=tags%>"><p><i class="ri-hashtag"></i>  <%=tags%></p></a>
            </div>
           
        
        <% }) %>
    </div>


<% } else { %>
    <h2 class="tagsearchpage">No Tags found</h2>

<% } %>