<% layout('layouts/boilerplate') %>
<h2>Bookmarks</h2>
<% user.bookmarks.forEach((post) => { %>
<h1><%= post.title %></h1>
<h3><%= post.author.username %>,<%= post.date %></h3>
<% if (post.likedby.length>0) { %>

<h6><%=post.likedby.length %> likes</h6>
<% } %> <% if (post.comments.length>0) { %>

<h6><%= post.comments.length %> comments</h6>
<% } %>

<p>
<%= post.content.substring(0, 100)+"..." %><a href="/post/<%= post._id %>"
  ><button>Read more</button></a
  >
</p>
<% }) %>