<% layout('layouts/boilerplate') %>


<div class="profile">
  <div class="followercontainer" id="followercontainer">
    <div class="btnprofilepopup">
      <p>Followers(<%= followers.length %>)</p>
      <div class="crossiconpopup">
        <i onclick="removefollowercontainer()" class="ri-close-line"></i>
      </div>
    </div>
    <div class="showuserscontainer">
      <% userfollowers.forEach(userfollower => { %>
        <a href="/user/<%= userfollower._id %>">
          <div id="<%= userfollower._id %>" class="profilesubscard">
            <div class="useravatarimg">
              <img src="<%=userfollower.avatar.thumbnail %>" alt="author thumbnail">
            </div>
            <div class="useravatartitle">
              <p><%= userfollower.username %></p>
            </div>
          </div>
         </a>
      <% }) %>
      

    </div>
  </div>
  <div class="followingcontainer" id="followingcontainer">
    <div class="btnprofilepopup">
      <p>Followings(<%= followings.length %>)</p>
      <div class="crossiconpopup">
        <i onclick="removefollowingcontainer()" class="ri-close-line"></i>
      </div>
    </div>
    <div class="showuserscontainer">
      <% userfollowings.forEach(userfollowing => { %>
        <a href="/user/<%= userfollowing._id %>">
          <div id="<%= userfollowing._id %>" class="profilesubscard">
            <div class="useravatarimg">
              <img src="<%=userfollowing.avatar.thumbnail %>" alt="author thumbnail">
            </div>
            <div class="useravatartitle">
              <p><%= userfollowing.username %></p>
            </div>
          </div>
         </a>
      <% }) %>
      

    </div>
  </div>
  
  <div class="profilecard">
      <div class="profiledesc">
          <div class="avatar">
            <a href="/user/<%= user._id %>">
              <img src="<%=user.avatar.profile%>" alt="user avatar">
            </a>
          </div>
          <div class="authordesc">
              <div class="authordetails">
                  <div class="nameandtagline">
                      <p class="username"><%= user.username  %>  </p>
                    <p class="tagline"><%= user.tagline %></p>
                  </div>
                   
              </div>
                
              <div class="subscription">
                <div class="subscnt">
                  <div class="followercnt">
                    <button onclick="getfollowercontainer()"> <h4> <%= followers.length %> </h4></button>
                    <p>followers</p>
                  </div>
                  <div class="followingscnt">
                    <button onclick="getfollowingcontainer()"> <h4> <%= followings.length %> </h4></button>
                    <p>followings</p>
                  </div>
                </div>
              </div>
              <% if (currentUser && currentUser._id.equals(user._id)) { %>
                <div class="editprofilebtn">
                <a href="/user/<%=user._id%>/edit"><button><i class="ri-pencil-fill"></i>  Edit</button></a>

                </div>
              <% } %>
              <div class="followbtn">
                <% if (currentUser && !currentUser._id.equals(user._id)) { %>
                  
                    <% if (!isfollower) { %>
                      <form class="follow " action="/user/<%=user._id%>/follow" method="get"> <button class="buttonSubmitter profileupdatebtnsubmitter"><i class="ri-add-fill"></i>  Follow</button></form>

                    <% } else { %>
                    <form class="unfollow" action="/user/<%=user._id%>/unfollow" method="get"> <button class="buttonSubmitter profileupdatebtnsubmitter"><i class="ri-check-fill"></i> Following</button></form>

                    <%}%>
                 
                <% } else if (!currentUser) { %>
                  
                    <form class="follow" action="/user/<%=user._id%>/follow" method="get"> <button><i class="ri-add-fill"></i>  Follow</button></form>

                  
                <% } %>

              </div>
          </div>
      </div>
      <div class="profiledetails">
          <div class="social">
            <div class="insta">
              <a href="<%= user.instagramurl %>"><i class="ri-instagram-line"></i></a>
            </div>
            <div class="linkedin">
              <a href="<%= user.linkedinurl %>"><i class="ri-linkedin-box-fill"></i></a>
             
            </div>
            <div class="github">
              <a href="<%= user.githuburl %>"><i class="ri-github-fill"></i></a>
            </div>
          </div>
          <div class="location">
            <i class="ri-map-pin-line"></i> <p><%= user.location %></p>
          </div>
          <div class="joiningdate">
            <i class="ri-calendar-2-fill"></i> <p>Member Since <%= user.joineddate %></p> 
          </div>
      </div>
  </div>
 
    <div class="aboutjoint">
      <div class="about">
        <div class="abtauthor">
          <h3>About Me</h3>
          <% if (user.description) { %>
            
            <p><%= user.description %></p>
            
          <% } else {  %>
            <p id="notupdate">Update Your Profile</p>
          <% } %>
          
        </div>
         
      </div>
      <div class="posts">
        <h3 class="posttitle">Published Posts(<%= posts.length %>)</h3>
        <% if (posts.length) { %>
          <div class="postcontainer">
            <% posts.forEach((post) => { %>
              <div  id="<%= post._id %>" class="eachpost">
                <p><%= post.date %></p>
                <h3><a href="/post/<%= post._id %>"><%= post.title %></a></h3>
              </div>
            <% }) %>
          </div>
          
        <% } else { %>
          <p class="nopost"> No posts yet</p>
        <% } %>
       
        
        
  
      </div>
      
    </div>
    
    <% if (currentUser && currentUser._id.equals(user._id)) { %>
      <div class="profileoptions">
        
        <a href="/user/<%=user._id%>/bookmarks">
          <div class="hello">
            <i class="ri-bookmark-3-line"></i> Bookmarks        
          </div>
        </a>
        <a href="/user/<%=user._id%>/changepassword">
          <div class="hello">
            <span> <i class="ri-lock-unlock-line"></i> Change Password</span>
          </div>
        </a>
        
        <a href="/user/logout">
          <div class="profilelogout">
            <span> <i class="ri-logout-box-line"></i> Sign out</span>
          </div>
        </a>
        <form class="deleteacnt" action="/user/<%=user._id%>/deleteaccount?_method=DELETE" method="post">
          <button ><span> <i class="ri-delete-bin-4-line"></i> Delete Account</span></button>
        </form>


      </div>
    <% } %>
</div>


<script>
  // animation button 
var animateButton = function (e) {
    e.preventDefault;
    //reset animation
    e.target.classList.remove("animate");
    e.target.innerHTML = "";

    e.target.classList.add("animate");

    e.target.classList.add("animate");
    setTimeout(function () {
      e.target.classList.remove("animate");
    }, 200000);
  };

  var classname = document.getElementsByClassName("buttonSubmitter");

  for (var i = 0; i < classname.length; i++) {
    classname[i].addEventListener("click", animateButton, false);
  }


  // followers and followings show popup
    const followercontainer=document.getElementById("followercontainer");
    const followingcontainer=document.getElementById("followingcontainer");
    
  const removefollowercontainer=()=>{
    followercontainer.classList.remove("followerconatineractive");
    followercontainer.classList.add("followerconatiner");

    

  }
  const removefollowingcontainer=()=>{
    followingcontainer.classList.remove("followingconatineractive");
    followingcontainer.classList.add("followingcontainer");


  }
  const getfollowercontainer=()=>{
    followercontainer.classList.add("followerconatineractive");
    followercontainer.classList.remove("followerconatiner");
    // followercontainer.style.display='inline';

  }
  const getfollowingcontainer=()=>{
    followingcontainer.classList.add("followingconatineractive");
    followingcontainer.classList.remove("followingcontainer");
    // followingcontainer.style.display='inline';

  }
</script>

