<% layout('layouts/boilerplate') %>

<h1><%= user.username %></h1>
<% if (user.tagline) { %>
  <h3><%= user.tagline %></h3>
<% } %>
<div>
  <h2><%= followers.length %> followers</h2>
  <h2><%= followings.length %>followings</h2>

</div>

<% if (!currentUser._id.equals(user._id)) { %>
    <% if (!isfollower) { %>
      <div>
        <form action="/user/<%=user._id%>/follow" method="get">
          <button>Follow</button>
        </form>
      </div>
    <% } else { %>
      <div>
        <form action="/user/<%=user._id%>/unfollow" method="get">
          <button>Unfollow</button>
        </form>
      </div>
    <%}%>
  
<% } %>

<p>members since <%= joineddate %></p>


  <% if (user.location) { %>
      <h4><%= user.location %></h4>
  <% } %>
  <% if (user.instagramurl) { %>
    <a href="<%= user.instagramurl %>">Instagram</a>
  <% } %>
  <% if (user.linkedinurl) { %>
    <a href="<%= user.linkedinurl %>">Linkedin</a>
  <% } %>
  <% if (user.githuburl) { %>
    <a href="<%= user.githuburl %>">GitHub</a>
  <% } %>
  <% if (user.description) { %>
    <div>
      <h2>About me</h2>
      <p><%= user.description %></p>
    </div>
  <% } %>







<h2>Posts</h2>

<%- include('../partials/posts') %>

<% if (currentUser && currentUser._id.equals(user._id)) { %>
  <div>
    <form action="/post/new" method="get">
      <button class="btn">✒️ Compose</button>
    </form>
  </div>

  <a href="/user/<%=user._id%>/bookmarks">
    <button>bookmarks</button>
  </a>
  

  <button>
    <a href="/user/<%=user._id%>/changepassword"><span>Change Password</span></a>
  </button>
  <button>
    <a href="/user/<%=user._id%>/edit"><span>Edit</span></a>
  </button>

  <button>
    <a href="/user/logout"><span>Sign out</span></a>
  </button>
  <form action="/user/<%=user._id%>/deleteaccount?_method=DELETE" method="post">
    <button><span>delete account</span></button>
  </form>
<% } %>
